.fond-bleu {
    background-color: #ED2636;
    color: white;
}

.btnAjt {
    background-color: #470C11;
    color: white;
}

.btnEff {
    border: 1px solid #ED2636;
    color: #ED2636;
}

.btnEff:hover {
    background-color: #ED2636;
    color: white;
}